@font-face {
  font-family: "ChosunGu";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.chosungu {
  font-family: "ChosunGu";
  font-weight: normal;
  font-style: normal;
}
.nanumpen {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
